@import "tailwindcss";

body {
  background-color: #000000;
  color: #ffffff;
}

/* Efecto de desenfoque editorial para el H1 */
.text-blur {
  filter: blur(8px);
  transition: filter 0.5s ease;
}

.group:hover .text-blur {
  filter: blur(0px);
}

/* Animación del Footer rojo */
@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -webkit-overflow-scrolling: touch; /* Mejora el scroll en iOS */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}